* text=auto !eol
/.classpath -text
/.project -text
.settings/.jsdtscope -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.jsdt.ui.superType.container -text
.settings/org.eclipse.wst.jsdt.ui.superType.name -text
.settings/org.eclipse.wst.validation.prefs -text
WebContent/META-INF/MANIFEST.MF -text
WebContent/footer.jsp -text
WebContent/header.jsp -text
WebContent/images/bullet-l1.gif -text
WebContent/images/leo.png -text
WebContent/index.jsp -text
WebContent/menu.jsp -text
WebContent/resources/d3.v4.min.js -text
WebContent/resources/style.css -text
WebContent/template/browse.jsp -text
WebContent/template/browse_fragment.jsp -text
WebContent/template/browse_pattern.jsp -text
WebContent/template/browse_unbound.jsp -text
WebContent/template/complete.jsp -text
WebContent/template/defer.jsp -text
WebContent/template/generate.jsp -text
WebContent/template/submit.jsp -text
WebContent/template/suppress.jsp -text
WebContent/template/verify.jsp -text
WebContent/training/course.jsp -text
WebContent/training/courses.jsp -text
WebContent/training/embedded_register.jsp -text
WebContent/training/register.jsp -text
WebContent/training/trainees.jsp -text
WebContent/visualization/syntaxTree.jsp -text
/pom.xml -text
